<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>"The Queen Cierra's Movies Page</h1>
<h2>
    {% block subtitle %}
    {% endblock subtitle %}
</h2>
{% block content %}
<table>
    <tr>
        <th>Movie Title</th>
        <th><a href="{% url 'details' %}">Movie Details</a></th>
        <th><a href="{% url 'synopsis' %}">Movie Synopsis</a></th>
    </tr>
    {% for movies in movie_list %}
    <tr>
        <td>{{movies.movie_title}}</td>
        <td>{{movies.movie_details}}</td>
        <td>{{movies.movie_synopsis}}</td>
    </tr>

    {% endfor %}
</table>
{% endblock %}
</body>
</html>